<div class="card">
  <a href="https://github.com/stephlin/vscode-tmux-keybinding" target="_blank">
    <div class="card__image card--clickable">
    <img class="image" src="/assets/images/project/vscode-tmux-keybinding.png"/>
    <div class="overlay overlay--bottom">
      <p>
      VSCode Tmux Keybinding Extension
      </p>
    </div>
    </div>
  </a>
  <div class="card__content">
    <p>
      A simple extension for tmux behavior in vscode terminal.
    </p>
    <p>
      <a href="https://marketplace.visualstudio.com/items?itemName=stephlin.vscode-tmux-keybinding" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/version/stephlin.vscode-tmux-keybinding.svg" alt="https://marketplace.visualstudio.com/items?itemName=stephlin.vscode-tmux-keybinding"></a>
      <a href="https://marketplace.visualstudio.com/items?itemName=stephlin.vscode-tmux-keybinding" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/installs-short/stephlin.vscode-tmux-keybinding.svg" alt=""></a>
    </p>
  </div>
</div>
