<div class="card">
  <a href="https://github.com/stephlin/wipctv" target="_blank">
    <div class="card__image card--clickable">
      <img class="image" src="/assets/images/project/wipctv.jpg"/>
      <div class="overlay overlay--bottom">
        <p>
          wipctv
        </p>
      </div>
    </div>
  </a>
  <div class="card__content">
    <p>
      Weighted Instantaneous Phase Corrected Total Variation for audio denoising task.
    </p>
    <blockquote>
      <span>Photo by <a href="https://unsplash.com/@adigold1?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Adi Goldstein</a> on <a href="https://unsplash.com/s/photos/audio?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </blockquote>
  </div>
</div>
