/* start custom scss snippet */
code {
    font-size: map-get($base, font-size);
}

.footnote {
    &::before {
        content: "[";
    }
    &::after {
        content: "]";
    }
}

$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $sizes {
    .image--#{$size} {
        width: $size + '%';
    }
}
/* end custom scss snippet */
