.image {
  max-width: 100%;
  @extend .image--md;
}
.image--md {
  width: map-get($image, width);
}
.image--xl {
  width: map-get($image, width-xl);
}
.image--lg {
  width: map-get($image, width-lg);
}
.image--sm {
  width: map-get($image, width-sm);
}
.image--xs {
  width: map-get($image, width-xs);
}

@each $size in (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) {
  .image--#{$size} {
    width: percentage($size / 100);
  }
}
